<mat-dialog-actions fxLayoutAlign="end start">
  <button class="exit-button" mat-mini-fab mat-dialog-close>X</button>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography">
  <div class="admin-credentials">
    <h3 class="admin-credentials message">If you want to see admin features sign in with these credentials: </h3>
    <h4 class="admin-credentials">Email: testapp12397@gmail.com</h4>
    <h4>Password: adminaccess123</h4>
  </div>
  <h3 style="font-weight: bold">This is only for presentation purposes, this dialog will be removed in production!</h3>
  <h3 style="font-weight: 450">Admin features:</h3>
  <p>- Add new food</p>
  <p>- Edit food</p>
  <p>- Delete food</p>
  <p>- Add new ingredient</p>
  <p>- Edit ingredient</p>
  <p>- Delete ingredient</p>
  <p>- Change user role</p>
  <p style="font-weight: bold; margin-top: 2rem;">Much more coming soon!</p>

</mat-dialog-content>
