<form [formGroup]="foodImageForm">
 
  <div fxLayoutAlign="start start">
    <input #fileInput accept=".png, .jpge, .jpg" style="display: none" type='file' (change)="onSelectFile($event)"
      formControlName="foodImageFileUrl">
     <button [ngClass]="isEditForm ?  'selected-image' :  (showImage? 'selected-image' : 'form-button')"  mat-button (click)="fileInput.click()"> <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon" 
      >perm_media</mat-icon>{{isEditForm? 'Change Image' :(showImage? 'Change Image' : 'Selecte Image')}}</button>
    </div>
    <div *ngIf="isEditForm === true && showImage === false" fxLayoutAlign="center center">
      <cl-image class="food-image" 
        public-id="https://res.cloudinary.com/bgs-delivery/image/upload/w_250,h_200,r_20,c_fill/v{{food?.foodImageVersion}}/{{food?.name}}.jpg"
        secure="true" fetch-format="auto">
      </cl-image>
    </div>
  <div fxLayoutAlign="center center">
    <img [src]="foodImageFileUrl" class="food-image"> <br/>
  </div>
  
  <div *ngIf="!showSpinner" class="disable-background">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</form>
