.disable-background {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.spinner {
  color: #62D2A2 !important;
  position: absolute;
  size: 10px;
  right: 50%;
  bottom: 50%;
}

.food-image {
  min-width: 300px;
  max-height: 250px;
  border-radius: 20px;
  padding: 0px 0px 0px 0px !important;
}

.form-button {
  margin-top: 1rem;
  background-color: whitesmoke;
  font-size: 16px;
  height: 300px;
  width: 100%;
  border-radius: 5px;
}

.selected-image {
  font-size: 16px;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  background-color: whitesmoke;

}

.form-button:hover {
  opacity: 0.9;
}

.icon{
  margin-right: 0.5rem ;
}
