<div fxHide.gt-sm="true" fxLayout="row">
  <button class="tune-icon" mat-flat-button fxHide.gt-sm="true"  mat-icon-button matTooltip="Filters"
    [matMenuTriggerFor]="filterMenu" mat-mini-fab #filterTrigger="matMenuTrigger"><i class="material-icons material-icons--rounded">tune</i>
  </button>
  <mat-menu fxHide.gt-sm  xPosition="before" yPosition="below" #filterMenu="matMenu"
    fxLayout="row" class="category-menu">
    <h2 style="margin: 0.5rem 0rem 0.5rem 0.5rem">Category</h2>
    <div *ngFor="let category of categories;"  fxLayout="column">
      <button  [ngClass]="{'filter-button-selected-mobile' :category.isSelected === true, 'filter-button-default-mobile' : category.isSelected === false} " (click)="setCategoryFilter(category)" fxLayoutAlign="start start " 
        mat-flat-button><mat-icon style="margin-right: 1rem;"  svgIcon="{{category.category | lowercase}}"></mat-icon>{{category.category | titlecase}}
      </button>
    </div>
    <h2 style="margin: 0.5rem 0rem 0.5rem 0.5rem">Type</h2>
    <div *ngFor="let type of types;"  fxLayoutAlign="start start" fxLayout="column">
      <button  [ngClass]="{'filter-button-selected-mobile' :type.isSelected === true, 'filter-button-default-mobile' : type.isSelected === false} " (click)="setTypeFilter(type)" fxLayoutAlign="start start " 
        mat-flat-button><mat-icon style="margin-right: 1rem;"  svgIcon="{{type.name | lowercase}}"></mat-icon>{{type.name | titlecase}}
      </button>
    </div>
  </mat-menu>
</div>
<div fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="space-around center">
  <h1 style="font-size: 22px;">Category</h1>
  <h1 style="font-size: 22px;">Type</h1>
</div>
<div fxHide.lt-md="true" fxLayout="row"   fxLayoutAlign="center center">
  <div  fxFlex="10" *ngFor="let category of categories; let i = index" class="category-of-ingredient" 
    fxLayoutAlign="start center">
    <button mat-flat-button (click)="setCategoryFilter(category)"
      [ngClass]="{'filter-button-selected' :category.isSelected === true, 'filter-button-default' : category.isSelected === false} ">
      <mat-icon style="margin-top: 1rem;" svgIcon="{{category.category | lowercase}}"></mat-icon>
      <p>{{category.category | titlecase}}</p>
    </button>
  </div>
  <div fxFlex="10"  *ngFor="let type of types" class="category-of-ingredient" fxLayoutAlign="end center">
    <button mat-flat-button (click)="setTypeFilter(type);" fxLayoutAlign="center center"
      [ngClass]="{'filter-button-selected' :type.isSelected == true, 'filter-button-default' : type.isSelected == false} ">
      <mat-icon style="margin-top: 1rem;" svgIcon="{{type.name | lowercase}}"></mat-icon>
      <p>{{type.name | titlecase }}</p>
    </button>
  </div>
</div>
<div fxLayoutAlign="space-evenly center">
  <table mat-table
    [dataSource]="ingredients | paginate: {itemsPerPage: 15, currentPage: page, totalItems: numberOfAllIngredients}">

    <ng-container matColumnDef="delete">
      <th fxHide.lt-md="true" mat-header-cell *matHeaderCellDef> Delete </th>
      <td fxHide.lt-md="true" mat-cell *matCellDef="let ingredient">
        <mat-icon fxHide.lt-md="true" class="delete-button" (click)="openDialog(ingredient.id)">delete</mat-icon>
      </td>
    </ng-container>

    <ng-container class="name-row" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="name-row"> Name </th>
      <td mat-cell *matCellDef="let ingredient" class="name-row"> {{ingredient.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let ingredient">
        <p style="margin:0px 10px 0px 0px;">{{ingredient.type}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.category}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let ingredient"> <button fxHide.lt-md="true" class="edit-button"
          [routerLink]="['/edit-ingredient', ingredient.id]" mat-flat-button>Edit</button></td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef fxHide.gt-sm="true"> Options </th>
      <td mat-cell *matCellDef="let ingredient" fxHide.gt-sm="true">
        <div fxHide.gt-sm="true">
          <button fxHide.gt-sm="true" class="form-button-mobile" mat-icon-button matTooltip="More Options"
            [matMenuTriggerFor]="optionsMenu" #menuTrigger="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu fxHide.gt-sm class="food-options" xPosition="before" yPosition="below" #optionsMenu="matMenu"
            fxFlex="100%" fxLayout="row" fxLayoutAlign="start end ">
            <div fxLayoutAlign="start start " fxLayout="column">
              <button fxLayoutAlign="start start " class="button" [routerLink]="['/edit-ingredient', ingredient.id]"
                mat-flat-button>
                <mat-icon class="icon" aria-hidden="false" fxFlex="70">create
                </mat-icon>Edit
              </button>
              <button fxLayoutAlign="start start " class="button" mat-flat-button (click)="openDialog(ingredient.id)">
                <mat-icon class="icon" fxFlex="70">delete
                </mat-icon> Delete
              </button>
            </div>
          </mat-menu>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<pagination-controls class="pagination-bar" fxLayoutAlign="center center" previousLabel="" nextLabel="" autoHide="true"
  (pageChange)="page=$event;getIngredientsByPage(page);">
</pagination-controls>
