table {
  width: 80%;
}

.edit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.edit-button {
  float: right;
  color: #3a3838;
}

.mat-column-delete {
  flex: 0 0 28% !important;
  width: 10% !important;
}

.delete-button {
  float: left;
  cursor: pointer;
  color: #3a3838;
}

.delete-button:hover {
  opacity: 0.7;
}

tr.mat-row,
tr.mat-footer-row {
  height: 0px !important;
}

::ng-deep .ngx-pagination .current,
.btn-info {
  background: #d62828 !important;
  border: transparent !important;
}

::ng-deep .ngx-pagination .current:hover {
  background: #fc5d5d !important;
  border: transparent !important;
}

::ng-deep .ngx-pagination{
  padding-left: 0px !important;
}

.name-row{
  width: 25% !important; 
}

.filter-button-selected{
  border: 1px solid #d62828;
  height: 85px;
  width: 80px;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.1);
}

.filter-button-default{
  border: 1px solid #eeeeee;
  height: 85px;
  width: 80px;
  border-radius: 20px;
  background-color: rgba(219, 212, 212, 0.1);
}

.filter-button-selected-mobile{
  background-color: rgba(255, 0, 0, 0.1);
  width: 100%;
}
.filter-button-default-mobile{
  background-color: rgba(219, 212, 212, 0.1);
  width: 100%;
}

.filter-button-default-mobile:hover{
  background-color: rgba(255, 0, 0, 0.1);
  width: 100%;
}

.tune-icon{
  background-color: #d62828;
  margin-left: 10%;
}

::ng-deep .mat-menu-panel.category-menu {
  width: 200px !important;
}