<div  fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100">
  <mat-vertical-stepper class="food-form" linear #stepper>

    <form class="food-form" [formGroup]="foodForm" (ngSubmit)="onSubmit()">
      <mat-step [stepControl]="foodForm">
        <ng-template matStepLabel>Food informations</ng-template>         
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-around center">
          <mat-form-field class="example-full-width">
            <mat-label>Food Name</mat-label>
            <input matInput placeholder="Ex. Pizza" formControlName="name" required>
            <mat-error *ngIf="foodForm.controls.name.errors?.required">
              <p>Enter food name</p>
            </mat-error>
            <mat-error *ngIf="foodForm.controls.name.errors?.minlength">
              <p>Name must have min 2 letters</p>
            </mat-error>
            <mat-error *ngIf="foodForm.controls.name.errors?.maxlength">
              <p>Name can't be greater then 50 letters</p>
            </mat-error>
            <mat-error *ngIf="foodForm.controls.name.errors?.pattern">
              <p>Enter only letters</p>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Ex. 7.5" formControlName="price" required>
            <mat-error *ngIf="foodForm.controls.price.errors?.pattern">
              <p>Enter only numbers</p>
            </mat-error>
            <mat-error *ngIf="foodForm.controls.price.errors?.required">
              <p>Enter price</p>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center">
        <mat-form-field >
          <mat-label>Type of Food</mat-label>
          <mat-select formControlName="type">
            <mat-option (click)="callGetIngredientsByType(i)" *ngFor="let type of type; let i = index" [value]="type"
              required>
              {{type}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="foodForm.controls.type.errors?.required">
            <p>Select food type</p>
          </mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="outOfStock" class="stock">Out of Stock</mat-checkbox>
      </div>
        <div fxLayoutAlign="end center">
          <button class="form-button" mat-flat-button matStepperNext [disabled]="!foodForm.valid" >Next</button>
        </div>
      
      </mat-step>
      <mat-step [stepControl]="foodForm.controls.foodDescriptionForm">
        <ng-template matStepLabel>Food Ingredients</ng-template>
        <app-food-description-form [type]="type" [foodDescriptionForm]="foodForm.controls.foodDescriptionForm"
          [ingredients]="ingredients" [food]="food" [isEditForm]="isEditForm"></app-food-description-form>
        <div>
          <div fxFlex="50%">
          <button class="form-button" mat-flat-button matStepperPrevious>Back</button>
        </div >
          <div fxFlex="50%" fxLayoutAlign="end center">
            <button class="form-button" mat-flat-button matStepperNext [disabled]="!foodForm.valid">Next</button>
          </div>
        </div>
      </mat-step>
      <mat-step [stepControl]="foodImageForm">
        <ng-template matStepLabel>Food Image</ng-template>
        <app-food-image  [food]="food" [isEditForm]="isEditForm" [foodImageForm]="foodImageForm" [foodImageFileUrl]="foodImageFileUrl"
          ></app-food-image>
        <div>
          <button class="form-button" mat-flat-button matStepperPrevious>Back</button>
          <div fxLayoutAlign="space-around center">
            <button class="submit-button" type="submit" (click)="onSubmit()" mat-flat-button [disabled]="!foodForm.valid || !foodImageForm.valid">{{isEditForm? 'Edit Food' : 'Add Food'}}</button>
          </div>
        </div>
      </mat-step>
    </form>
  </mat-vertical-stepper>
  <notifier-container></notifier-container>
</div>

