.food-form {
  margin: 2rem;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 1px 1px 50px whitesmoke;
}

.form-button {
  margin-top: 1rem;
  color: white;
  background-color: #d62828;
}

.form-button:hover {
  opacity: 0.9;
}

.form-head {
  margin-bottom: 3rem;
}

.stock {
  margin-right: 5rem !important;
}

.submit-button {
  margin-top: 1rem;
  color: white;
  background-color: #3a3838;
}

.submit-button:hover {
  opacity: 0.9;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #fc5d5d;
}

::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: #fc5d5d;
}
