<div class="navbar-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayoutAlign="start center" fxFlex="20">
    <button class="login-button" *ngIf="!authenticated" mat-stroked-button (click)="signIn()">Sign In</button>
    <img class="user-image" [src]="profileImage" alt="" [matMenuTriggerFor]="userImageMenu">
  </div>

  <div fxLayoutAlign="end end" fxLayout="row" fxFlex="50%">
    <div [hidden]="!authenticated || !isUserAdmin">
      <a fxHide.lt-md="true" fxLayoutAlign="end end" class="nav-button" [matMenuTriggerFor]="foodMenu"
        #foodTrigger="matMenuTrigger"
        (mouseenter)="openResourceMenu(foodTrigger); ingredientTrigger.closeMenu(); orderTrigge.closeMenu(); recheckIfInMenu = true;"
        (mouseleave)="closeResourceMenu(foodTrigger); recheckIfInMenu = false; " style="z-index:1050"
        [routerLink]="['/food-list']">Food
        <mat-icon aria-hidden="true" class="arrow">arrow_drop_down
        </mat-icon></a>
    </div>

    <a fxHide.lt-md="true" *ngIf="!authenticated || !isUserAdmin" class="nav-button"
      [routerLink]="['/food-list']">Food</a>

    <a fxHide.lt-md="true" *ngIf="!authenticated" class="nav-button" matBadge="{{numberOfCartItems}}"
      matBadgeOverlap="false" matBadgePosition="above before" matBadgeSize='small' fxLayoutAlign="end end"
      [routerLink]="['/order']">
      <mat-icon>shopping_cart</mat-icon>
    </a>

    <div [hidden]="!authenticated || !isUserAdmin">
      <a fxHide.lt-md="true" fxLayoutAlign="end end" class="nav-button" [matMenuTriggerFor]="ingredientMenu"
        #ingredientTrigger="matMenuTrigger"
        (mouseenter)="openResourceMenu(ingredientTrigger); foodTrigger.closeMenu(); orderTrigge.closeMenu(); recheckIfInMenu = true;"
        (mouseleave)="closeResourceMenu(ingredientTrigger); recheckIfInMenu = false" style="z-index:1050"
        [routerLink]="['/ingredient-list']">Ingredients<mat-icon class="arrow">arrow_drop_down</mat-icon></a></div>

    <div [hidden]="!authenticated" >
      <a fxHide.lt-md="true" matBadge="{{numberOfCartItems}}" matBadgeOverlap="false"
        matBadgePosition="above before" matBadgeSize='small' fxLayoutAlign="end end" class="nav-button"
        [matMenuTriggerFor]="menu" #orderTrigge="matMenuTrigger"
        (mouseenter)="orderTrigge.openMenu(); foodTrigger.closeMenu(); ingredientTrigger.closeMenu(); recheckIfInMenu = true"
        (mouseleave)="closeResourceMenu(orderTrigge); recheckIfInMenu = false" style="z-index:1050"
        [routerLink]="['/order']">
        <mat-icon class="order-arrow">shopping_cart</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
    </div>
    <mat-menu xPosition="before" yPosition="below" class="nav-menu" #menu="matMenu" [overlapTrigger]="false">
      <span (mouseenter)="recheckIfInMenu = true"
        (mouseleave)="closeResourceMenu(orderTrigge); recheckIfInMenu = false">
        <button class="dropdown-options" mat-menu-item [routerLink]="['/order-history']">
          Order History
        </button>
      </span>
    </mat-menu>

    <mat-menu xPosition="before" yPosition="below" class="dropdown-options" #ingredientMenu="matMenu"
      [overlapTrigger]="false">
      <span (mouseenter)="recheckIfInMenu = true"
        (mouseleave)="closeResourceMenu(ingredientTrigger); recheckIfInMenu = false;">
        <button class="dropdown-options" mat-menu-item [routerLink]="['/ingredient-form']">
          Add Ingredient
        </button>
      </span>
    </mat-menu>

    <mat-menu menuClosed="authenticated" xPosition="before" yPosition="below" class="dropdown-options"
      #foodMenu="matMenu" [overlapTrigger]="false">
      <span (mouseenter)="recheckIfInMenu = true"
        (mouseleave)="closeResourceMenu(foodTrigger); recheckIfInMenu = false;">
        <button class="dropdown-options" style="text-align: center !important;" mat-menu-item
          [routerLink]="['/add-food']">
          Add Food
        </button>
      </span>
    </mat-menu>

    <button fxHide.gt-sm="true" mat-button [matMenuTriggerFor]="mobileMenu" #mobileTrigger="matMenuTrigger">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="stopClickPropagate($event);">
            <mat-panel-title>
              Food
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-menu-item [routerLink]="['/food-list']">Food List</button>
          <button *ngIf="authenticated && isUserAdmin" mat-menu-item [routerLink]="['/add-food']">Add Food</button>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="authenticated && isUserAdmin">
          <mat-expansion-panel-header (click)="stopClickPropagate($event)">
            <mat-panel-title>
              Ingredient
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-menu-item [routerLink]="['/ingredient-list']">Ingredient List</button>
          <button mat-menu-item [routerLink]="['/ingredient-form']">Add Ingedient</button>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="stopClickPropagate($event)">
            <mat-panel-title>
              Order
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-menu-item [routerLink]="['/order']">Cart</button>
          <button mat-menu-item [routerLink]="['/order-history']">Order History</button>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-menu>

    <mat-menu class="dropdown-options" #userImageMenu="matMenu">
      <button mat-menu-item (click)="signOut()">
        <span class="txt-16">Log Out <mat-icon class="logout-icon">login</mat-icon></span>
      </button>
      <button mat-menu-item *ngIf="authenticated && isUserAdmin" [routerLink]="['/user-profile']"><span
          class="txt-16">User <mat-icon class="logout-icon">account_circle</mat-icon></span></button>

    </mat-menu>
  </div>
</div>
