.navbar-wrapper {
  background-color: #eeeeee;
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

.button-wrapper {
  display: inline-block !important;
}

.nav-button {
  color: black;
  font-size: 1.1rem;
  text-decoration-line: none;
  margin: 0 0.5rem 0 0.5rem;
  position: relative;
}

.mat-badge-content {
 background-color:  #d62828;
 border:  1px;
 border-radius: 5px;
 text-align: center;
}

.login-button{
  color: black;
  font-size: 1.1rem;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0px !important;
}

.nav-button:hover {
  border-bottom: 1px solid;
}

.user-image {
  border-radius: 50%;
  height: 40px;
  border: 2px solid transparent;
}

.user-image:hover {
  cursor: pointer;
}

.dropdown-options{
  font-size: 0.9rem !important;
  text-align: center !important;
}

::ng-deep .mat-menu-panel.dropdown-options {
  margin-top: 0.2rem !important;
}

::ng-deep .mat-menu-panel.nav-menu {
  margin-top: 0.2rem !important;
}

*:focus {
  outline: none;
}

.logout-icon{
  color: black;
}

.txt-16{
  font-size: 16px;
}