<div fxLayoutAlign="center center">
  <div fxLayout="column" *ngIf="orders.length !== 0" fxFlex="50" fxFlex.lt-md="100%" fxFlex.gt-md="50%">
    <div fxLayoutGap="14px" style="padding: 10px;" fxLayout="row" fxLayoutAlign="start center">
      <h3  fxFlex="20">Order Date</h3>
      <h3 fxFlex="10">Total</h3>
      <h3  fxFlex="30">Sent To</h3>
      <h3  fxFlex="30">Bill To</h3>
    </div>
   <mat-accordion  fxLayout="column" style="margin-bottom: 2rem !important;">
    <mat-expansion-panel *ngFor="let order of orders" (click)="getOrder(order.id)"
      style="margin-bottom: 5px !important;" class="order-box">
      <mat-expansion-panel-header fxLayoutAlign="start center" style="padding: 10px !important;" >
        <mat-panel-title  fxFlex="20">
          {{order.dateOfOrder}}
        </mat-panel-title>
        <mat-panel-title   fxFlex="10">
          ${{order.priceOfOrder}}
        </mat-panel-title>
       
          <mat-panel-title *ngIf="order.user===null"   fxFlex="30">
            Guest
          </mat-panel-title>
          <mat-panel-title *ngIf="order.user!=null"   fxFlex="30">
            {{order.user.firstName}} {{order.user.lastName}}
          </mat-panel-title>
        
        <mat-panel-title   fxFlex="30">
          {{order.sentTo}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="orderContent">
        <ng-container matColumnDef="Food" >
          <th mat-header-cell *matHeaderCellDef class="txt"> Name </th>
          <td mat-cell *matCellDef="let orderContent" class="txt"> {{orderContent.food.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let orderContent"> {{orderContent.food.type}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef class="txt"> Price </th>
          <td mat-cell *matCellDef="let orderContent" class="txt"> {{orderContent.food.price | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="Food Quantity">
          <th mat-header-cell *matHeaderCellDef class="txt"> Food Quantity </th>
          <td mat-cell *matCellDef="let orderContent" class="txt"> {{orderContent.foodQuantity}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
<div *ngIf="orders.length === 0" fxLayoutAlign="center start">
  <h4 style="font-size: large;">No Order History</h4>
</div>
