<form [formGroup]="foodDescriptionForm">
  <p>Select ingredients: </p>
  <li class="ingredients" *ngFor="let ingredient of ingredientsByType; let index = index">
    <div fxLayout="row wrap" fxFlex="25%">
      <mat-checkbox #checkBox formControlName="foodDescription"
        (change)="foodDescriptionForm.get('foodDescription').setValue($event.checked?true:false)"
        [checked]="foodDescriptionForm.get('foodDescription').setValue(ingredient.isSelected?true:false)"
        (click)="addIngredientNameToIngredients(ingredient)">{{ingredient.name}}</mat-checkbox>
    </div>
  </li>
</form>
