<div fxLayoutAlign="center start" fxLayoutGap.lg="10px" fxLayoutGap.gt-lg="50px" fxHide.lt-md="true">
  <div class="order-table" fxFlex="70%" fxFlex.gt-lg="50%" *ngIf="cart.length != 0">
    <div *ngFor="let cartFood of cart; let i = index" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayoutAlign="start start" fxLayoutGap="1px" fxFlex="60%">
          <mat-icon class="clear-icon" aria-hidden="true" aria-label="Example cancel icon"
            (click)="removeFromOrder(cartFood)">clear</mat-icon>
          <div class="image-price-wrapper" fxLayout="column" fxLayoutAlign="start start" fxFlex="30%"
            fxFlex.gt-lg="20%">
            <cl-image class="food-image"
              public-id="https://res.cloudinary.com/bgs-delivery/image/upload/h_75,w_75,c_fill,r_20/v{{cartFood.food.foodImageVersion}}/{{cartFood.food.name}}.jpg"
              secure="true" fetch-format="auto">
            </cl-image>
          </div>
          <div style="display:inline-block !important" fxFlex="70%" fxLayout="column">
            <h3 style="margin: 1rem 0 0 0;">{{cartFood.food.name}}</h3>

            <mat-chip-list aria-label="Fish selection" fxLayoutAlign="start start" fxLayout="row wrap"
              class="description-wrepper" fxFlex="100%">
              <mat-chip class="description" *ngFor="let description of cartFood.food.descriptionArray; let j = index">
                <p class="description-text">{{description}}&nbsp;</p>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="10%">
          <div fxLayout="row" fxLayoutAlign="center  center">
            <button mat-button class="quantity-button" (click)="reduceFoodQuantity(cartFood)"
              [disabled]="cartFood.foodQuantity === 1">-</button>
            <h4>{{cartFood.foodQuantity}}</h4>
            <button mat-button class="quantity-button" (click)="increaseFoodQuantity(cartFood)">+</button>
          </div>
          <div fxLayout="row" fxLayoutAlign="center  center">
            <p class="txt">Quantity</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="15%" fxLayoutAlign="center center">
          <h4>{{cartFood.food.price | currency}}</h4>
          <p class="txt">Price</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="15%">
          <h4>{{cartFood.foodQuantity * cartFood.food.price | currency}}</h4>
          <p class="txt">Subtotal</p>
        </div>
      </div>
    </div>
  </div>
  <div class="order-wrapper" *ngIf="cart.length != 0" fxLayout="column" fxFlex="25%" fxFlex.gt-lg="15%"
    fxLayoutGap="10px">
    <div class="address" fxLayout="row wrap" fxLayoutAlign="start centre" fxFlex="30%" fxLayoutGap="10px">
      <div fxLayout="column wrap" fxLayoutAlign="center centre" fxFlex="10%">
        <i style="margin-left: 0.6rem ;" class="material-icons-outlined">location_on</i>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="center centre" fxFlex="50%">
        <mat-form-field>
          <mat-label> Delivery Address </mat-label>
          <input matInput type="text" class="form-control" required #sentTo placeholder="Sent to">
        </mat-form-field>
      </div>
    </div>
    <div class="payable-amount" fxLayoutAlign="start start" fxLayout="row wrap">
      <div style="margin-left: 1rem;" fxLayout="row " fxFlex="100%">
        <h2>Payable amount</h2>
      </div>
      <div style="margin-left: 1rem;" fxLayout="row " fxFlex="100%">
        <div fxLayout="column" fxFlex="3%">
          <p>○</p>
          <p>○</p>
        </div>
        <div fxLayout="column" fxFlex="65%">
          <p class="charge">Delivery charge:</p>
          <p class="charge">Subtotal price:</p>
        </div>
        <div fxLayout="column wrap" fxFlex="30%">
          <p class="charge">{{5 | currency}}</p>
          <p class="charge">{{orderPrice | currency}}</p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100%">
      <div fxLayoutAlign="space-evenly start" fxLayout="row" fxFlex="100%" fxLayoutGap="25%">
        <h2>Grand Total</h2>
        <h3 style="margin: 0px 0px 0px 0px;">{{orderPrice + 5 | currency}}</h3>
      </div>
      <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center end">
        <button style="margin: 0rem 0rem 1rem 0rem; ;"
          [ngClass]="{'order-button': sentTo.value!=='', 'my-class': sentTo.value==='' }" mat-button
          (click)="orderFood(sentTo.value)" [disabled]="sentTo.value===''">Confirm Order</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="cart.length === 0" fxLayoutAlign="center start" fxFlex="100%">
  <h4 style="font-size: large;">Cart is Empty</h4>
</div>

<!-- Mobile cart -->
<div fxHide.gt-sm="true" *ngIf="cart.length != 0" fxLayout="column" fxLayoutAlign="center center">
  <div class="cart-food-wrapper">
    <div *ngFor="let cartFood of cart; let i = index" fxLayoutAlign="space-around center" fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="start">
        <cl-image class="food-image"
          public-id="https://res.cloudinary.com/bgs-delivery/image/upload/h_75,w_75,c_fill,r_20/v{{cartFood.food.foodImageVersion}}/{{cartFood.food.name}}.jpg"
          secure="true" fetch-format="auto">
        </cl-image>
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxFlex="40%">
        <h3 style="margin: 1rem 0 0 0;">{{cartFood.food.name}}</h3>
        <h4>{{cartFood.foodQuantity * cartFood.food.price | currency}}</h4>
      </div>
      <div fxLayout="column" fxLayoutAlign="end">
        <div fxLayout="row" fxLayoutAlign="center  center" fxLayoutGap="5px">
          <button *ngIf="cartFood.foodQuantity !== 1" mat-button class="quantity-button-mobile"
            (click)="reduceFoodQuantity(cartFood)">
            <mat-icon>remove</mat-icon>
          </button>
          <button *ngIf="cartFood.foodQuantity === 1" mat-button class="quantity-button-mobile">
            <mat-icon  
            (click)="removeFromOrder(cartFood)">clear</mat-icon>
          </button>
          <h4>{{cartFood.foodQuantity}}</h4>
          <button mat-button class="quantity-button-mobile" (click)="increaseFoodQuantity(cartFood)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div fxLayout="column"  fxLayoutAlign="end centre" style="width: 80%;">
    <div class="address-mobile" fxLayoutAlign="center centre">
      <i style="margin: 0.9rem 0.5rem 0rem 0rem;" class="material-icons-outlined">location_on</i>
      <mat-form-field fxFlex="80%">
        <mat-label> Delivery Address </mat-label>
        <input matInput type="text" class="form-control" required #sentTo placeholder="Sent to">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <p class="charge-mobile">Delivery charge:</p>
      <p class="charge-mobile">{{5 | currency}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <p class="charge-mobile">Subtotal price:</p>
      <p class="charge-mobile">{{orderPrice | currency}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h2>Grand Total</h2>
      <h3>{{orderPrice + 5 | currency}}</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="center end">
      <button style="margin: 1rem 0rem 1rem 0rem !important;"
        [ngClass]="{'order-button': sentTo.value!=='', 'disabled-button': sentTo.value==='' }" mat-button
        (click)="orderFood(sentTo.value)" [disabled]="sentTo.value===''">Confirm Order</button>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
