.food-image {
  margin: 1rem 0rem 0rem 0rem;
}

.order-table-head {
  margin: 2rem 2rem 0rem 2rem;
  border: 1px solid gainsboro;
  border-radius: 2px;

}

.order-table {
  border: 1px solid gainsboro;
  border-radius: 20px;
  height: 20%;
}

.food-column-head {
  padding: 1rem 2rem 0rem 2rem;
}

.quantity-button {
  background-color: #fc5d5d;
  color: white;
  min-width: 12px !important;
  width: 12px !important;
  height: 12px !important;
  padding: 0 0 0 0 !important;
  line-height: 0 !important;
  margin: 0.4rem 0.5rem 0 0.5rem;
}

.arrow-icon {
  height: 15px;
}

.arrow-icon:hover {
  cursor: pointer;
}

.order-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.order-button {
  color: white;
  background-color: #3a3838;
  border-radius: 50px;
  padding: 10px;
  width: 70%;
}

.order-wrapper {
  border: 1px solid gainsboro;
  border-radius: 20px;
  height: 450px !important;
  width: 100px;
}

.clear-icon {
  margin: 0.4rem 0.5rem 0rem 0.3rem;
  color: rgba(0, 0, 0, .54);
}

.clear-icon:hover {
  cursor: pointer;
}

.disabled-button{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border-radius: 50px;
  padding: 10px;
  width: 70%;
}

.txt {
  color: rgba(0, 0, 0, .54);
  margin: 0px 0px 0px 6px !important;
}

.description-wrepper {
  display: inline !important;
}

.description {
  color: white;
  font-size: 10px;
  max-width: none !important;
  text-align: center;
  min-width: 10px;
  margin: 5px 2px 5px 2px !important;
  min-height: 26px !important;
  background-color: #fc5d5d;
  width: unset !important;

}

.description-text {
  margin: 10px 5px 10px 5px !important;

}

.address {
  border-bottom: 1px solid;
}

.payable-amount {
  position: relative;
  z-index: 1;
}

.payable-amount:before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 0;
  height: 1px;
  width: 70%;
  /* or 100px */
  border-bottom: 1px solid gainsboro;
}

.charge {
  margin-left: 2rem;
  color: rgba(0, 0, 0, .54);
}

.image-price-wrapper {
  margin-bottom: 1rem;
}

.quantity-button-mobile {
  background-color: #d62828;
  min-width: 25px;
  width: 15px !important;
  height: 25px !important;
  padding: 0 0 0 0 !important;
  line-height: 0 !important;
  border-radius: 10px;

}

.cart-food-wrapper {
  height: 300px;
  width: 90% !important;
  border-radius: 20px;
  overflow-x: auto;
  border: 1px solid gainsboro;
}

.address-mobile{
  box-shadow: 10px 10px 8px -1px #888888;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  margin: 1rem 0 3rem 0;
}

.charge-mobile {
  color: rgba(0, 0, 0, .54);
}