<div *ngFor="let user of users | paginate: { itemsPerPage: 9, currentPage: page, totalItems: numberOfAllUsers}"
  class="user-row" fxLayout="row" (click)="getUser(user.id)" >
  <div fxLayoutAlign="start start" fxFlex="100%">
  <div fxLayout="column" fxLayoutGap="5px" fxFlex="45%">
    <h3>{{user.firstName}}</h3>
  </div>
  <div fxLayout="column" fxLayoutGap="5px" fxFlex="45%">
    <h3>{{user.lastName}}</h3>
  </div>
  <div fxLayout="column" fxLayoutGap="5px" fxFlex="10%">
    <h3>{{user.role}}</h3>
  </div>
</div>
</div>
<pagination-controls class="pagination-bar" fxLayoutAlign="center center" previousLabel="" nextLabel="" autoHide="true" 
  (pageChange)="page=$event;getUsersByPage(page);">
</pagination-controls>
