 ::ng-deep .ngx-pagination{
    padding-left: 0px !important;
}

::ng-deep .ngx-pagination .current,
.btn-info {
  background: #d62828 !important;
  border: transparent !important;
}

::ng-deep .ngx-pagination .current:hover {
  background: #fc5d5d !important;
  border: transparent !important;
}

.user-row{
    border: 1px solid gainsboro;
}

.user-row:hover{
    background-color: gainsboro;
    cursor: pointer;
}

