
.example-card {
  width: 70%;
}

.food-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.2rem;
  height: 30px;
  margin: 0.5rem 0.8rem 0 0  !important;
}

.food-list-button:hover {
  background-color: #fc5d5d;
  cursor: pointer;
}

.food-list-button {
  background-color: #d62828;
  color: white;
  margin: 0 0.3rem 1rem 0 !important;
  line-height: 36px !important;
}

.price {
  font-weight: bold;
  font-size: 16px !important;
  margin: 0 0 1.2rem 0.5rem !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.food-box {
  border-radius: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid #C5C8DE;
   background-image:
    linear-gradient(white, #C5C8DE),
    linear-gradient(white, #C5C8DE); 
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; 
  
}

.description {
  color: rgba(0, 0, 0, .54);
  margin: 0 0 0 0.5rem !important;
}

.food-name {
  margin: 0.5rem 0 0 0.5rem !important;
}

.food-options {
  align-items: center;
}

.menu-button {
  padding: 0px !important;
  min-width: 0px;
}

.button {
  padding-left: 0.5rem !important;
  border-radius: 0px !important;
  width: 100%;
}

.button:hover{
  background: white !important;
  background-color: #c6c6c6 !important;
}

.food-box .hover-display {
  display: none;
}

.food-box:hover .hover-display {
  display: flex;
  place-content: flex-end;
}

.food-box .hover-display.open {
  display: flex;
  place-content: flex-end !important; 
}  

.disabled-button{
  margin: 0 0.3rem 1rem 0 !important;
}

.filter-button-selected{
  border: 1px solid #d62828;
  height: 85px;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.1);
}

.filter-button-default{
  border: 1px solid #eeeeee;
  height: 85px;
  border-radius: 20px;
  background-color: rgba(219, 212, 212, 0.1);
}

.no-food{
  margin-top: 1rem !important;
}