<div fxLayout="row wrap"  fxLayoutAlign="space-evenly center">
<div class="type-of-food" fxFlex="100%"  fxLayoutAlign="space-evenly center">
  <button fxFlex="7" mat-flat-button (click)="getAll(); selectedFilter=''" [ngClass]="{'filter-button-selected' : selectedFilter == '', 'filter-button-default' : selectedFilter !== ''} "><mat-icon style="margin-top: 1rem;" svgIcon="food"></mat-icon><p>All</p></button>
  <button fxFlex="7" mat-flat-button (click)="getFoodByType('BURGER'); selectedFilter='BURGER'" [ngClass]="{'filter-button-selected' :selectedFilter == 'BURGER', 'filter-button-default' : selectedFilter !== 'BURGER'} " ><mat-icon style="margin-top: 1rem;" svgIcon="burger"></mat-icon> <p>Burger</p></button>
  <button fxFlex="7" mat-flat-button (click)="getFoodByType('TACOS'); selectedFilter='TACOS'" [ngClass]="{'filter-button-selected' : selectedFilter == 'TACOS', 'filter-button-default' : selectedFilter !== 'TACOS'} "><mat-icon style="margin-top: 1rem;" svgIcon="taco"></mat-icon><p>Tacos</p></button>
  <button fxFlex="7" mat-flat-button (click)="getFoodByType('PIZZA'); selectedFilter='PIZZA'" [ngClass]="{'filter-button-selected' : selectedFilter == 'PIZZA', 'filter-button-default' : selectedFilter !== 'PIZZA'} "><mat-icon style="margin-top: 1rem;" svgIcon="pizza"></mat-icon><p>Pizza</p></button>
  <button fxFlex="7" mat-flat-button (click)="getFoodByType('SANDWICH'); selectedFilter='SANDWICH'" [ngClass]="{'filter-button-selected' : selectedFilter == 'SANDWICH', 'filter-button-default' : selectedFilter !== 'SANDWICH'} "><mat-icon style="margin-top: 1rem;"svgIcon="sandwich"></mat-icon><p>Sandwich</p></button>
</div>
<div class="content" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="1%" fxFlex="100%">
  <h1 *ngIf="food?.length === 0" class="no-food">No Food To Display</h1>
  <div class="food-list"   *ngFor="let food of food; let i = index" fxLayoutAlign="center center">
    <div class="food-box" style="width: 270px !important;" fxLayout="column" (mouseenter)="mouseEnter(i)" (mouseleave)="mouseLeave()"
      fxLayoutAlign="center center">
      <cl-image   class="food-image" fxLayoutAlign="center center"
        public-id="https://res.cloudinary.com/bgs-delivery/image/upload/w_270,h_220,r_20:20:0:0,c_fill/v{{food.foodImageVersion}}/{{food.name}}.jpg"
        secure="true" fetch-format="auto">
      </cl-image>
      <div fxLayout="column wrap" style="width: 100%; min-height: 130px;">
        <div fxLayout="row" style=" width: 100%;">
          <div fxLayout="column" fxFlex="90%">
            <h2 class="food-name">{{food.name}}</h2>
          </div>
          <div *ngIf="authenticated && isUserAdmin" fxLayout="column" fxFlex="10%" fxLayoutAlign="start end ">
            <button   mat-icon-button matTooltip="More Options" [matMenuTriggerFor]="optionsMenu"
              class="hover-display" #menuTrigger="matMenuTrigger" [ngClass]="{ 'open': menuTrigger.menuOpen }">
              <mat-icon >more_vert</mat-icon>
            </button>
            <mat-menu class="food-options" xPosition="before" yPosition="below" #optionsMenu="matMenu" fxFlex="100%" fxLayout="row"
              fxLayoutAlign="start end ">
              <div fxLayoutAlign="start start " fxLayout="column">
              <button fxLayoutAlign="start start " class="button" [routerLink]="['/edit-food', food.id]" mat-flat-button>
                <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon" 
                  fxFlex="70">create</mat-icon>Edit
              </button>
              <button fxLayoutAlign="start start " class="button" mat-flat-button (click)="openDialog(food.id)">
                <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon" 
                  fxFlex="70">delete</mat-icon> Delete
              </button>
            </div>
            </mat-menu>
          </div>
        </div>
        <p class="description">{{food.description}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between end" style="width: 100%;">
        <h3 class="price">{{food.price | currency}}</h3>
        <button mat-flat-button  [ngClass]="{'food-list-button': !food.outOfStock, 'disabled-button': food.outOfStock}" (click)="addToCart(food)" [disabled]="food.outOfStock">{{food.outOfStock? 'Out Of Stock' : 'Add to Cart'}}</button>
      </div>
    </div>
  </div>
</div>
</div>