.profile-image-box {
  height: 420px;
}

.profile-information {
  height: 420px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 70%;
  max-width: 100%;

}

.profile-image {
  min-height: 100% !important;
  min-width: 70% !important;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-wrapper {
  margin-top: 10%;
  margin-right: 10px;

}

.profile-name{
  margin-top: 1rem;
}

.edit-button {
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 50px;
  color: white;
  background-color: #d62828;
}

.edit-button:hover {
  color: white;
  background-color: #fc5d5d;
  cursor: pointer;
}

.role-select{
  margin-left: 0.5rem;
  width: 100px !important;
}


