<div fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
  <div fxLayout="row" fxLayout.lt-md="column" class="profile-wrapper" fxLayoutAlign="center center" fxFlex="100%">
    <div class="profile-image-box" fxFlex="25" fxLayoutAlign.lt-md="center center"><img class="profile-image" mat-card-image [src]="profileImage">
    </div>
    <div class="profile-information" fxFlex="45">
      <div fxLayoutAlign="space-between start" *ngIf="userIsAuthorizedToChangeRole()">
        <mat-form-field class="role-select">
          <mat-label>{{selectedUser?.role}}</mat-label>
          <mat-select disableOptionCentering="true"  [(ngModel)]="selectedRole">
            <mat-option value="ADMIN">ADMIN</mat-option>
            <mat-option value="USER">USER</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="edit-button" mat-button (click)="changeRole()">Change Role</button>
      </div>
      <h1 class="profile-name" fxLayoutAlign="center start">{{selectedUser?.firstName}} {{selectedUser?.lastName}}</h1>
    </div>
  </div>
  <div  class="profile-wrapper"  fxFlex="40%" fxLayout="row" fxLayoutAlign="ce center"  *ngIf="loggedInUser?.role === 'ADMIN'">
    <app-user-list fxFlex="100%"  [user]="selectedUser" (valueChange)="onValueChange($event)"></app-user-list>
  </div>
</div>
