/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
/* 
* { box-sizing: border-box; }
html { height: 100%; overflow: hidden;}
body { min-height: 100%; }
body {
  border: 25px solid;
  border-image: 
    url(https://s.cdpn.io/3/border-tv_1.png) 25% repeat;
  overflow: auto;
}
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
