.ingredient-form {
  margin: 2rem;
  border-radius: 5px;
  padding: 5rem;
  box-shadow: 1px 1px 50px whitesmoke;
}

.type-of-ingredient {
  margin-right: 1.5rem;
  margin-top: 2rem;
}

.ingredient-button {
  margin-top: 2rem;
  color: white;
  background-color: #3a3838;

}

.ingredient-button:hover {
  opacity: 0.9;
}

.form-head {
  margin-bottom: 3rem;
}
