<div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100">

  <form class="ingredient-form" [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
    <h1 class="form-head">Add Ingredient</h1>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field class="example-full-width">
        <mat-label>Ingredient Name</mat-label>
        <input matInput placeholder="Ex. Pepperoni" formControlName="name" required>
        <mat-error *ngIf="ingredientForm.controls.name.errors?.required">
          <p>Enter ingredient name</p>
        </mat-error>
        <mat-error *ngIf="ingredientForm.controls.name.errors?.minlength">
          <p>Ingredient must have min 2 letters</p>
        </mat-error>
        <mat-error *ngIf="ingredientForm.controls.name.errors?.maxlength">
          <p>Ingredient can't be greater then 50 letters</p>
        </mat-error>
        <mat-error *ngIf="ingredientForm.controls.name.errors?.pattern">
          <p>Enter only letters</p>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field class="type-of-ingredient">
        <mat-label>Ingredient for: </mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of type" [value]="type" required>
            {{type}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ingredientForm.controls.type.errors?.required">
          <p>Select ingredient type</p>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field class="type-of-ingredient">
        <mat-label>Ingredient Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of category" [value]="category" required>
            {{category}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ingredientForm.controls.category.errors?.required">
          <p>Select category type</p>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-around center">
      <button class="ingredient-button" type="submit" mat-flat-button [disabled]="!ingredientForm.valid">{{isEditForm ? 'Edit Ingredient' : 'Add Ingredient'}}</button>
    </div>
  </form>
  <notifier-container></notifier-container>
</div>
