<h2 mat-dialog-title>Delete</h2>
<mat-dialog-content>Are you sure you want to delete?</mat-dialog-content>
<mat-dialog-actions>
    <button class="dialog-btn" mat-raised-button  mat-dialog-close="true"
        (click)="onDialogConfirmation()">Yes</button>
    <button class="dialog-btn" mat-raised-button mat-dialog-close="false">No</button>
</mat-dialog-actions>

